$color-primary: #7ed56f;
$color-primary-light: #a5f08f;
$color-primary-dark: #0b78f5;
$color-primary-dark-2: #0f33d6;
$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;

//font
$default-font-size: 1.6rem;

// grid vars

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
