.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/kid-enjoying.jpeg);

  //  opacity
  //.header {
  //   height: 95vh;
  //   background-image: linear-gradient(
  //       rgba(41, 41, 38, 0.5),
  //       rgba(174, 228, 113, 0.5)
  //     ),
  //     url(../img/IMG_4225.JPG);

  background-size: cover;
  background-position: top;
  position: relative;
  /* ^^ parent element for the logo  */

  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  // @include respond(phone) {
  //   clip-path: polygon(0 0, 100% 0, 100% 90vh, 0 100%);
  // }

  @include respond(phone) {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  &__logo-box {
    position: absolute;
    top: 5rem;
    left: 5rem;
    /* absolute position .... */
  }

  &__logo {
    height: 3.5rem;
  }

  &__text-box {
    position: absolute;
    /* ^^ to put the text in the midlle */
    top: 50%;
    left: 45%;
    /* ^^ from parent element  */
    transform: translate(-40%, -50%);
    /* ^^  "translate" how to move elemnts  */
    text-align: center;
  }
}
