* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

  /* "*"universal selector will select every element on the page and use the specifice declarations */
}

html {
  font-size: 62.5%;
  //   defines 1 rem^^

  /* 1 rem = 10 px  
  
1rem = 10px; 10px/16px{browser) = 65.5%
  */

  @include respond(tab-land) {
    // width < 1200?
    //1rem = 9px, 9/16 =50%
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    //width < 900?
    // 1 rem =8px, 8/16 = 50%
    font-size: 50%;
  }

  @include respond(big-desktop) {
    //1rem =12, 12/16 =
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 1.5rem;

  @include respond(tab-port) {
    padding: 0;
  }
}
